# Pandas Tutorial Notebook (DAY-11)
This notebook explains

In [2]:
#pip installation pandas and numpy
#pip install numpy

**Import Liberaries

In [4]:
import pandas as pd
import numpy as np

In [7]:
# Object creation
s = pd.Series([1,3, np.nan, 5,7,8,9])
s

0    1.0
1    3.0
2    NaN
3    5.0
4    7.0
5    8.0
6    9.0
dtype: float64

In [9]:
dates = pd.date_range("20220101", periods =11)
dates

DatetimeIndex(['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04',
               '2022-01-05', '2022-01-06', '2022-01-07', '2022-01-08',
               '2022-01-09', '2022-01-10', '2022-01-11'],
              dtype='datetime64[ns]', freq='D')

In [11]:
df = pd.DataFrame(np.random.randn(11,4), index=dates, columns=list("ABCD"))
df

                   A         B         C         D
2022-01-01  1.059272  1.262137 -0.038352 -0.116176
2022-01-02  2.147389  0.900919 -0.225319 -0.419381
2022-01-03 -0.436682 -1.770286 -0.417013 -0.111299
2022-01-04 -0.577249 -0.838243  0.456294 -2.102839
2022-01-05 -1.572308  0.849205 -1.843961 -0.125232
2022-01-06 -0.172447  0.741699  0.601121 -0.779933
2022-01-07  0.606178  0.331727  0.445579 -0.946683
2022-01-08  0.554777  1.730722 -0.568829 -1.130822
2022-01-09  1.442041 -0.088820 -2.022112 -0.136197
2022-01-10 -0.174712  0.772106 -1.336198 -0.423937
2022-01-11  2.213248  0.317535  0.320094  0.193242

In [13]:
#via dict
df2 = pd.DataFrame(
    {
        "A": 1.0,
        "B": pd.Timestamp("20220113"),
        "C": pd.Series(1, index=list(range(4)), dtype="float32"),
        "D": np.array([3]* 4, dtype="int32"),
        "E": pd.Categorical(["test", "train", "test", "train"]),
        "F": "female",
    }
)

df2

     A          B    C  D      E    F
0  1.0 2022-01-13  1.0  3   test  foo
1  1.0 2022-01-13  1.0  3  train  foo
2  1.0 2022-01-13  1.0  3   test  foo
3  1.0 2022-01-13  1.0  3  train  foo

In [14]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [16]:
df.head(2)

                   A         B         C         D
2022-01-01  1.059272  1.262137 -0.038352 -0.116176
2022-01-02  2.147389  0.900919 -0.225319 -0.419381

In [17]:
df.tail(2)

                   A         B         C         D
2022-01-10 -0.174712  0.772106 -1.336198 -0.423937
2022-01-11  2.213248  0.317535  0.320094  0.193242

In [18]:
df2.index

Int64Index([0, 1, 2, 3], dtype='int64')

In [20]:
df2.to_numpy()

array([[1.0, Timestamp('2022-01-13 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2022-01-13 00:00:00'), 1.0, 3, 'train', 'foo'],
       [1.0, Timestamp('2022-01-13 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2022-01-13 00:00:00'), 1.0, 3, 'train', 'foo']],
      dtype=object)

In [21]:
df.describe()

               A          B          C          D
count  11.000000  11.000000  11.000000  11.000000
mean    0.462682   0.382609  -0.420791  -0.554478
std     1.186929   0.985520   0.935259   0.653938
min    -1.572308  -1.770286  -2.022112  -2.102839
25%    -0.305697   0.114358  -0.952513  -0.863308
50%     0.554777   0.741699  -0.225319  -0.419381
75%     1.250656   0.875062   0.382836  -0.120704
max     2.213248   1.730722   0.601121   0.193242

In [22]:
#TransposeData
df2.T

,0,1,2,3
A,1.0,1.0,1.0,1.0
B,2022-01-13 00:00:00,2022-01-13 00:00:00,2022-01-13 00:00:00,2022-01-13 00:00:00
C,1.0,1.0,1.0,1.0
D,3,3,3,3
E,test,train,test,train
F,foo,foo,foo,foo

In [23]:
#sort data
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2022-01-01 -0.116176 -0.038352  1.262137  1.059272
2022-01-02 -0.419381 -0.225319  0.900919  2.147389
2022-01-03 -0.111299 -0.417013 -1.770286 -0.436682
2022-01-04 -2.102839  0.456294 -0.838243 -0.577249
2022-01-05 -0.125232 -1.843961  0.849205 -1.572308
2022-01-06 -0.779933  0.601121  0.741699 -0.172447
2022-01-07 -0.946683  0.445579  0.331727  0.606178
2022-01-08 -1.130822 -0.568829  1.730722  0.554777
2022-01-09 -0.136197 -2.022112 -0.088820  1.442041
2022-01-10 -0.423937 -1.336198  0.772106 -0.174712
2022-01-11  0.193242  0.320094  0.317535  2.213248