# Pandas Tutorial Notebook (DAY-11)
This notebook explains

In [2]:
#pip installation pandas and numpy
#pip install numpy

**Import Liberaries

In [4]:
import pandas as pd
import numpy as np

In [5]:
# Object creation
s = pd.Series([1,3, np.nan, 5,7,8,9])
s

0    1.0
1    3.0
2    NaN
3    5.0
4    7.0
5    8.0
6    9.0
dtype: float64

In [7]:
dates = pd.date_range("20220101", periods =11)
dates

DatetimeIndex(['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04',
               '2022-01-05', '2022-01-06', '2022-01-07', '2022-01-08',
               '2022-01-09', '2022-01-10', '2022-01-11'],
              dtype='datetime64[ns]', freq='D')

In [8]:
df = pd.DataFrame(np.random.randn(11,4), index=dates, columns=list("ABCD"))
df

                   A         B         C         D
2022-01-01 -0.166049  0.919832  1.409318 -0.264982
2022-01-02  0.440968 -0.501636  0.978767 -1.120463
2022-01-03  1.568511 -1.149735  0.592819 -0.763341
2022-01-04 -0.862465  0.971270 -0.036613 -1.605762
2022-01-05  1.314280  0.934629  0.880297  0.532084
2022-01-06  0.149734 -0.702564 -1.265061  0.584980
2022-01-07 -0.314976  1.384794  0.955468 -0.367415
2022-01-08  1.639632 -0.430299  0.165118 -0.807988
2022-01-09  1.150656  1.230019  2.004224  0.261934
2022-01-10 -1.095489 -2.004567 -0.812233  0.671133
2022-01-11 -0.628327  2.401895 -0.139124 -0.313183

In [9]:
#via dict
df2 = pd.DataFrame(
    {
        "A": 1.0,
        "B": pd.Timestamp("20220113"),
        "C": pd.Series(1, index=list(range(4)), dtype="float32"),
        "D": np.array([3]* 4, dtype="int32"),
        "E": pd.Categorical(["test", "train", "test", "train"]),
        "F": "female",
    }
)

df2

     A          B    C  D      E       F
0  1.0 2022-01-13  1.0  3   test  female
1  1.0 2022-01-13  1.0  3  train  female
2  1.0 2022-01-13  1.0  3   test  female
3  1.0 2022-01-13  1.0  3  train  female

In [14]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [16]:
df.head(2)

                   A         B         C         D
2022-01-01  1.059272  1.262137 -0.038352 -0.116176
2022-01-02  2.147389  0.900919 -0.225319 -0.419381

In [17]:
df.tail(2)

                   A         B         C         D
2022-01-10 -0.174712  0.772106 -1.336198 -0.423937
2022-01-11  2.213248  0.317535  0.320094  0.193242

In [18]:
df2.index

Int64Index([0, 1, 2, 3], dtype='int64')

In [20]:
df2.to_numpy()

array([[1.0, Timestamp('2022-01-13 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2022-01-13 00:00:00'), 1.0, 3, 'train', 'foo'],
       [1.0, Timestamp('2022-01-13 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2022-01-13 00:00:00'), 1.0, 3, 'train', 'foo']],
      dtype=object)

In [21]:
df.describe()

               A          B          C          D
count  11.000000  11.000000  11.000000  11.000000
mean    0.462682   0.382609  -0.420791  -0.554478
std     1.186929   0.985520   0.935259   0.653938
min    -1.572308  -1.770286  -2.022112  -2.102839
25%    -0.305697   0.114358  -0.952513  -0.863308
50%     0.554777   0.741699  -0.225319  -0.419381
75%     1.250656   0.875062   0.382836  -0.120704
max     2.213248   1.730722   0.601121   0.193242

In [22]:
#TransposeData
df2.T

,0,1,2,3
A,1.0,1.0,1.0,1.0
B,2022-01-13 00:00:00,2022-01-13 00:00:00,2022-01-13 00:00:00,2022-01-13 00:00:00
C,1.0,1.0,1.0,1.0
D,3,3,3,3
E,test,train,test,train
F,foo,foo,foo,foo

In [23]:
#sort data
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2022-01-01 -0.116176 -0.038352  1.262137  1.059272
2022-01-02 -0.419381 -0.225319  0.900919  2.147389
2022-01-03 -0.111299 -0.417013 -1.770286 -0.436682
2022-01-04 -2.102839  0.456294 -0.838243 -0.577249
2022-01-05 -0.125232 -1.843961  0.849205 -1.572308
2022-01-06 -0.779933  0.601121  0.741699 -0.172447
2022-01-07 -0.946683  0.445579  0.331727  0.606178
2022-01-08 -1.130822 -0.568829  1.730722  0.554777
2022-01-09 -0.136197 -2.022112 -0.088820  1.442041
2022-01-10 -0.423937 -1.336198  0.772106 -0.174712
2022-01-11  0.193242  0.320094  0.317535  2.213248

In [10]:
#filtering/ sorting
df["A"]

2022-01-01   -0.166049
2022-01-02    0.440968
2022-01-03    1.568511
2022-01-04   -0.862465
2022-01-05    1.314280
2022-01-06    0.149734
2022-01-07   -0.314976
2022-01-08    1.639632
2022-01-09    1.150656
2022-01-10   -1.095489
2022-01-11   -0.628327
Freq: D, Name: A, dtype: float64

In [12]:
# Row wise data selection
df[0:3]

                   A         B         C         D
2022-01-01 -0.166049  0.919832  1.409318 -0.264982
2022-01-02  0.440968 -0.501636  0.978767 -1.120463
2022-01-03  1.568511 -1.149735  0.592819 -0.763341

In [15]:
# Select by labels
df.loc[dates[2]]

A    1.568511
B   -1.149735
C    0.592819
D   -0.763341
Name: 2022-01-03 00:00:00, dtype: float64

In [17]:
#multiple selection
df.loc[:,['A','B']]

                   A         B
2022-01-01 -0.166049  0.919832
2022-01-02  0.440968 -0.501636
2022-01-03  1.568511 -1.149735
2022-01-04 -0.862465  0.971270
2022-01-05  1.314280  0.934629
2022-01-06  0.149734 -0.702564
2022-01-07 -0.314976  1.384794
2022-01-08  1.639632 -0.430299
2022-01-09  1.150656  1.230019
2022-01-10 -1.095489 -2.004567
2022-01-11 -0.628327  2.401895

In [20]:
#row label selection
df.loc['20220102':'20220106', ['A','B','C']]

                   A         B         C
2022-01-02  0.440968 -0.501636  0.978767
2022-01-03  1.568511 -1.149735  0.592819
2022-01-04 -0.862465  0.971270 -0.036613
2022-01-05  1.314280  0.934629  0.880297
2022-01-06  0.149734 -0.702564 -1.265061

In [22]:
#row label selection for specific row
df.loc['20220102', ['A','B','C']]

A    0.440968
B   -0.501636
C    0.978767
Name: 2022-01-02 00:00:00, dtype: float64

In [24]:
# specific loacation/ values/ saclier value
df.at[dates[0], 'A']

-0.16604871822737186

In [25]:
df.iloc[3]

A   -0.862465
B    0.971270
C   -0.036613
D   -1.605762
Name: 2022-01-04 00:00:00, dtype: float64

In [26]:
df.iloc[2:4]

                   A         B         C         D
2022-01-03  1.568511 -1.149735  0.592819 -0.763341
2022-01-04 -0.862465  0.971270 -0.036613 -1.605762

In [27]:
#filter data
df.iloc[0:3, 1:2]

                   B
2022-01-01  0.919832
2022-01-02 -0.501636
2022-01-03 -1.149735

In [28]:
#for all columns - implicity    
df.iloc[0:2, : ]

                   A         B         C         D
2022-01-01 -0.166049  0.919832  1.409318 -0.264982
2022-01-02  0.440968 -0.501636  0.978767 -1.120463

In [30]:
#for all rows - implicity    
df.iloc[:, 1:4 ]

                   B         C         D
2022-01-01  0.919832  1.409318 -0.264982
2022-01-02 -0.501636  0.978767 -1.120463
2022-01-03 -1.149735  0.592819 -0.763341
2022-01-04  0.971270 -0.036613 -1.605762
2022-01-05  0.934629  0.880297  0.532084
2022-01-06 -0.702564 -1.265061  0.584980
2022-01-07  1.384794  0.955468 -0.367415
2022-01-08 -0.430299  0.165118 -0.807988
2022-01-09  1.230019  2.004224  0.261934
2022-01-10 -2.004567 -0.812233  0.671133
2022-01-11  2.401895 -0.139124 -0.313183

In [32]:
#filteration/selection with boolean
df[df['A']>0]

                   A         B         C         D
2022-01-02  0.440968 -0.501636  0.978767 -1.120463
2022-01-03  1.568511 -1.149735  0.592819 -0.763341
2022-01-05  1.314280  0.934629  0.880297  0.532084
2022-01-06  0.149734 -0.702564 -1.265061  0.584980
2022-01-08  1.639632 -0.430299  0.165118 -0.807988
2022-01-09  1.150656  1.230019  2.004224  0.261934

In [33]:
#for overall
df[df>1]

                   A         B         C   D
2022-01-01       NaN       NaN  1.409318 NaN
2022-01-02       NaN       NaN       NaN NaN
2022-01-03  1.568511       NaN       NaN NaN
2022-01-04       NaN       NaN       NaN NaN
2022-01-05  1.314280       NaN       NaN NaN
2022-01-06       NaN       NaN       NaN NaN
2022-01-07       NaN  1.384794       NaN NaN
2022-01-08  1.639632       NaN       NaN NaN
2022-01-09  1.150656  1.230019  2.004224 NaN
2022-01-10       NaN       NaN       NaN NaN
2022-01-11       NaN  2.401895       NaN NaN

In [35]:
#copy 
df2 = df.copy()

In [37]:
df2['E']=['one', 'one', 'two', 'three', 'four', 'three', 'one', 'two', 'three', 'four', 'three']

In [43]:
#to get the  mean of "A", "B, "C", "D" columns and add that mean in new column
df["Mean"]= df.mean(axis=1)
df

                   A         B         C         D      Mean
2022-01-01 -0.166049  0.919832  1.409318 -0.264982  0.474530
2022-01-02  0.440968 -0.501636  0.978767 -1.120463 -0.050591
2022-01-03  1.568511 -1.149735  0.592819 -0.763341  0.062063
2022-01-04 -0.862465  0.971270 -0.036613 -1.605762 -0.383392
2022-01-05  1.314280  0.934629  0.880297  0.532084  0.915323
2022-01-06  0.149734 -0.702564 -1.265061  0.584980 -0.308228
2022-01-07 -0.314976  1.384794  0.955468 -0.367415  0.414468
2022-01-08  1.639632 -0.430299  0.165118 -0.807988  0.141616
2022-01-09  1.150656  1.230019  2.004224  0.261934  1.161708
2022-01-10 -1.095489 -2.004567 -0.812233  0.671133 -0.810289
2022-01-11 -0.628327  2.401895 -0.139124 -0.313183  0.330315